.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__left
      .Chat-main__group-info__left__top 
        = @group.name
      .Chat-main__group-info__left__bottom
        Member :

        - @group.users.each do |user|
          = user.name
    .Chat-main__group-info__right
      =link_to edit_group_path(@group), class:"edit" do
        Edit

  .Chat-main__message-list
    = render @messages
  .Chat-main__message-form
    .Chat-main__message-form__left
      .Chat-main__message-form__left__one
        = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
          .Chat-main__message-form__left__one__trial
            = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
            .Chat-main__message-form__left__two
              = f.label:image, class: "input-box__image" do
                = icon('fas', 'image')
                = f.file_field:image
          .Chat-main__message-form__right
            = f.submit 'Send', class: "send"
