.Side-bar 
  .Side-bar__user-name 
    .Side-bar__user-name__top
      .Side-bar__user-name__top__left
        = current_user.name
      .Side-bar__user-name__top__right
        .Side-bar__user-name__top__right__box
          = link_to new_group_path, class: "far fa-edit" do
            = icon('far', 'fa-edit')  
          = link_to edit_user_path(current_user), class: "fas fa-cog" do
            = icon('fas', 'fa-cog') 
            

  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-list__apper
        = link_to group_messages_path(group) do
          .Side-bar__group-list__top
            = group.name
          .Side-bar__group-list__center
            = group.show_last_message

